In [1]:
mes=4

In [333]:
%run -i funcs_armazem.py
%matplotlib inline

WARNING *** file size (255262) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (37431) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (671594) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (289760) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (289760) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (289760) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (231039) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (231039) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [334]:
metas = get_metas(mes=mes)
pop = get_populacao()
dados = get_data()

funcs_armazem.py:67: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  by_cia_mes_dict['iaf_armas_+_simulacros'] = by_cia_mes_dict['iaf_armas_+_simulacros'].astype('uint16')

ValueError: ('cannot join with no overlapping index names', 'occurred at index (tcv_abs, 1)')

In [381]:
# by_cia_mes_dict['tcv_taxa'] = by_cia_mes_dict['tcv'].join(pop.copy())
by_cia_mes_dict['tcv_taxa']

          1   2   3   4  (POPULACOES, POPULACAO)
23_CIA
139 CIA  28  29  26  27                   102919
142 CIA  50  45  27  26                   129575
51 CIA   30  21  23  19                   104360
53 CIA   25  14  11   6                    69242

In [330]:
display(
    dados['tcv'],
    pop,
    dados['tcv_taxa']
)

        tcv_abs
              1    2   3   4 ACUM
CIA
139 CIA      28   29  26  27  110
142 CIA      50   45  27  26  148
51 CIA       30   21  23  19   93
53 CIA       25   14  11   6   56
TOTAL       133  109  87  78  407

        POPULACOES
         POPULACAO
CIA
53 CIA       69242
139 CIA     102919
142 CIA     129575
51 CIA      104360
TOTAL       406096

        tcv_abs
              1      2      3      4    ACUM
CIA
139 CIA   40.44  41.88  37.55  38.99  158.86
142 CIA   48.58  43.72  26.23  25.26  143.80
51 CIA    23.15  16.21  17.75  14.66   71.77
53 CIA    23.96  13.42  10.54   5.75   53.66
TOTAL     32.75  26.84  21.42  19.21  100.22

In [332]:
45/129575*100000

34.72892147404978

In [250]:
metas = pd.read_sql_table('tbl_metas', 'sqlite:///gdo.db')
metas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 4 columns):
MES          540 non-null int64
META         540 non-null float64
CIA          540 non-null object
INDICADOR    540 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 17.0+ KB

In [195]:
metas[
    ( metas['CIA'] == '53 CIA' )
    & (metas['INDICADOR'] == 'THC')
]['META']

84    0.964844
85    0.000000
86    0.964844
87    0.964844
88    0.964844
89    0.000000
90    0.000000
91    0.000000
92    0.000000
93    0.000000
94    0.964844
95    0.000000
Name: META, dtype: float16

In [215]:
# metas = pd.read_csv('files/metas.csv', dtype={'META':'float16'}, decimal=',')
# metas.to_sql('tbl_metas', 'sqlite:///gdo.db', index=False, if_exists='replace')

In [224]:
# 53ª Cia PM	69.242
# 139ª Cia PM	102.919
# 142ª Cia PM	129.575
# 51ª Cia PM	104.360

pops = pd.DataFrame({
    'CIA':['53 CIA', '139 CIA', '142 CIA', '51 CIA'],
    'POPULACAO':[69242,102919,129575,104360]
})
pops.to_sql('tbl_populacoes', 'sqlite:///gdo.db', index=False)

In [221]:
np.iinfo('uint32')

iinfo(min=0, max=4294967295, dtype=uint32)