In [11]:
mes=4

In [288]:
%run -i funcs_armazem.py
%matplotlib inline

WARNING *** file size (265753) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (37433) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (671597) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (289760) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (289760) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (289760) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (231043) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (231043) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [289]:
metas = get_metas(mes=mes)
pop = get_populacao()
dados = get_data()

In [290]:
dados['iaf_mes_4']

         POPULACAO   4
139 CIA     102919   9
142 CIA     129575  10
51 CIA      104360   3
53 CIA       69242   5
TOTAL       406096  27

In [222]:
tables = ['tcv_mes_4','tcv_acum_1-4', 'thc_mes_4','thc_acum_1-4', 'tqf_mes_4','tqf_acum_1-4',]

dfs = (
    dados[tables[0]],
    dados[tables[1]],
    dados[tables[2]],
    dados[tables[3]],
    dados[tables[4]],
    dados[tables[5]]
    
)

multiple_dfs(dfs, 'tcv-thc-tqf', 'test.xlsx', 4)

In [223]:
dados.keys()

dict_keys(['tcv', 'thc', 'tqf', 'iaf_armas', 'iaf_simulacros', 'iaf_crimes', 'tri_presos', 'tri_crimes', 'iaf_armas_+_simulacros', 'iaf_indice', 'tri_indice', 'tcv_taxa', 'thc_taxa', 'tqf_taxa', 'tcv_mes_4', 'tcv_acum_1-4', 'thc_mes_4', 'thc_acum_1-4', 'tqf_mes_4', 'tqf_acum_1-4'])

In [215]:
# metas = pd.read_csv('files/metas.csv', dtype={'META':'float16'}, decimal=',')
# metas.to_sql('tbl_metas', 'sqlite:///gdo.db', index=False, if_exists='replace')

In [224]:
# 53ª Cia PM	69.242
# 139ª Cia PM	102.919
# 142ª Cia PM	129.575
# 51ª Cia PM	104.360

pops = pd.DataFrame({
    'CIA':['53 CIA', '139 CIA', '142 CIA', '51 CIA'],
    'POPULACAO':[69242,102919,129575,104360]
})
pops.to_sql('tbl_populacoes', 'sqlite:///gdo.db', index=False)

In [221]:
np.iinfo('uint32')

iinfo(min=0, max=4294967295, dtype=uint32)