In [1]:
import pandas as pd
import numpy as np

In [2]:
roubos_23 = pd.read_csv('Roubos_2020_23.csv')

In [24]:
roubos_23[
    (roubos_23['Histórico Ocorrência'].str.contains('entregador') ) |
    (roubos_23['Histórico Ocorrência'].str.contains('deliver') ) |
    (roubos_23['Histórico Ocorrência'].str.contains('entrega\s') ) |
    (roubos_23['Histórico Ocorrência'].str.contains('pizza') ) |
    (roubos_23['Histórico Ocorrência'].str.contains('hamburguer') )
]

,Número REDS,Município,Descrição Subclasse Nat Principal,Data Fato,Desc Longa Subgrupo Complemento Nat,Histórico Ocorrência
195,2020-019258853-001,CLAUDIO,ROUBO,2020/04/22 00:00:00,VEICULO OU EMBARCACAO (ESPECIFICAR NA ABA VEIC...,"comparecemos no endereço supracitado e, em con..."
271,2020-002275510-001,ITAUNA,ROUBO,2020/01/14 00:00:00,BENS/VALORES DE PROPRIETARIO/FUNCIONARIO DE ES...,"Acionados pela Sala de Operações da Fração, de..."