In [29]:
import pandas as pd
import numpy as np
import sys, gc

In [3]:
import gc

In [54]:
gc.disable()

In [55]:
gc.isenabled()

False

In [56]:
b = pd.DataFrame(np.arange(1,100000000))

In [59]:
gc.collect()

185

In [58]:
gc.get_stats()

[{'collections': 308, 'collected': 4748, 'uncollectable': 0},
 {'collections': 27, 'collected': 859, 'uncollectable': 0},
 {'collections': 9, 'collected': 693, 'uncollectable': 0}]

In [64]:
gc.DEBUG_STATS

1

In [60]:
gc.get_stats()

[{'collections': 308, 'collected': 4748, 'uncollectable': 0},
 {'collections': 27, 'collected': 859, 'uncollectable': 0},
 {'collections': 10, 'collected': 878, 'uncollectable': 0}]

In [43]:
a = pd.DataFrame({
    1:np.arange(1, 100000000)
})

In [46]:
a = list('v'*1000)

In [48]:
del a

In [44]:
del a

In [49]:
gc.collect()

80

In [30]:
s = np.arange(1,21)
a = pd.DataFrame({
    1:s,
    2:s*3
})
b = pd.DataFrame({
    1:s + 2,
    2:s * 7
})
c = pd.concat([a,b])
c

     1    2
0    1    3
1    2    6
2    3    9
3    4   12
4    5   15
5    6   18
6    7   21
7    8   24
8    9   27
9   10   30
10  11   33
11  12   36
12  13   39
13  14   42
14  15   45
15  16   48
16  17   51
17  18   54
18  19   57
19  20   60
0    3    7
1    4   14
2    5   21
3    6   28
4    7   35
5    8   42
6    9   49
7   10   56
8   11   63
9   12   70
10  13   77
11  14   84
12  15   91
13  16   98
14  17  105
15  18  112
16  19  119
17  20  126
18  21  133
19  22  140

In [6]:
del df

In [11]:
def malloc_trim():
    import ctypes
    ctypes.CDLL('libc.so.6').malloc_trim(0)
malloc_trim()

In [8]:
%xdel df

In [22]:
%reset -f

In [23]:
a

NameError: name 'a' is not defined