In [1]:
import pandas as pd
import numpy as np
import os, re

<h2 style='color:#00A'>O código adiante obtém os arquivos csv, por tipo (rat, rat_evetivo, rat_viatura e rat_produtividade) e os ordena por data</h2>

In [2]:
# dir = os.getcwd()
# rats_files_names = os.listdir(dir+'/files/RAT')
# rat_pattern = re.compile('REDS_RAT_2')
# rat_viatura_pattern = re.compile('RAT_VIATURA')
# rat_efetivo_pattern = re.compile('RAT_EFETIVO')
# rat_produtividade_pattern = re.compile('RAT_Produtividade')

# rats_files = list()
# rats_viatura_files = list()
# rats_efetivo_files = list()
# rats_produtividade_files = list()

# for file_name in rats_files_names:
#     is_rat = rat_pattern.search(file_name) != None
#     is_rat_viatura = rat_viatura_pattern.search(file_name) != None
#     is_rat_efetivo = rat_efetivo_pattern.search(file_name) != None
#     is_rat_produtividade = rat_produtividade_pattern.search(file_name) != None
#     if is_rat:
#         rats_files.append(file_name)
#     elif is_rat_viatura:
#         rats_viatura_files.append(file_name)
#     elif is_rat_efetivo:
#         rats_efetivo_files.append(file_name)
#     elif is_rat_produtividade:
#         rats_produtividade_files.append(file_name)
        
# rats_files.sort(key=lambda name: int(name[9:17]))
# rats_viatura_files.sort(key=lambda name: int(name[18:26]))
# rats_efetivo_files.sort(key=lambda name: int(name[18:26]))
# rats_produtividade_files.sort(key=lambda name: int(name[23:31]))

<h2 style="color:#0A0;margin:10px ">Importação, para o Banco de Dados, de todos os arquivos tipo RAT</h2>
<h3 style="color:#00A; margin:10px">Importa somente os dados do 23º BPM</h3>

<ol style="color:#222">
    <li>Lê o primeiro arquivo da lista e o passa para um DataFrame (df1)</li>
    <li>Lê o segundo arquivo da lista e o passa para outro DataFrame (df2)</li>
    <li>Concatena os dois DataFrames em um terceiro (df_acum)</li>
    <li>Itera sobre os demais arquivos, lendo cada um deles, aplicando strip(), a função de filtro do 23º BPM e depois o adiciona ao DataFrame df_acum</li>
    <li>Retira as duplicatas, pelo campo 'RAT.NUM_ATIVIDADE'</li>
    <li>Adiciona colunas data/hora início e término, tempo em datetime e tempo em inteiro </li>
    <li>Aplica .upper() nas colunas usadas para classificação.</li>
    <li>Classifica por Setores</li>
    <li>Classifica por Cias</li>
    <li>Insere os dados de df_acum no banco de dados gdo.db: (tabela tbl_rat)</li>

</ol>

In [5]:
# df_classif = pd.read_csv('files/classificadores.csv')
# df_classif = df_classif.apply(lambda col:col.str.upper())
# df_classif.set_index( df_classif['MUNICIPIO'] + " " + df_classif['VALIDADOR_TIPO'] + " " + df_classif['VALIDADOR'], inplace=True)
# df_classif['SETOR'] = df_classif['SETOR'].str.replace('LOURDES ITATIAIUCU', 'LOURDES/ITATIAIUCU')
# df_classif['SETOR'] = df_classif['SETOR'].str.replace('CENTRO PADRE EUSTAQUIO', 'CENTRO/PADRE EUSTAQUIO')
# df_classif['SETOR'] = df_classif['SETOR'].str.replace('SANTANENSE MORADA NOVA', 'SANTANENSE/MORADA NOVA')
# df_classif = df_classif.reset_index().drop_duplicates('index').set_index('index')


# def filter_23(df):
#     return df[
#         df['MUNICIPIO'].isin([
#             'DIVINOPOLIS',
#             'ITAUNA',
#             'ITATIAIUCU',
#             'CARMO DO CAJURU',
#             'SAO GONCALO DO PARA',
#             'CLAUDIO'
#         ])
#     ]


# df1 = pd.read_csv('files/RAT/' + rats_files[0], error_bad_lines=False, sep='|')
# df1 = df1.applymap(lambda x: x.strip() if type(x) == str else x)
# df1 = filter_23(df1)

# df2 = pd.read_csv('files/RAT/' + rats_files[1], error_bad_lines=False, sep='|')
# df2 = df2.applymap(lambda x: x.strip() if type(x) == str else x)
# df2 = filter_23(df2)

# df_acum = pd.concat([df1, df2])

# for rat_file in rats_files[2:]:
#     df_aux = pd.read_csv('files/RAT/' + rat_file, error_bad_lines=False, sep='|')
#     df_aux = df_aux.applymap(lambda x: x.strip() if type(x) == str else x)
#     df_aux = filter_23(df_aux)
#     df_acum = pd.concat([df_acum, df_aux])

# df_acum.drop_duplicates(subset='RAT.NUM_ATIVIDADE', keep='last', inplace=True)

# s_dta_in = df_acum['DTA_INICIO'] + " " + df_acum['HRA_INICIO']
# df_acum.loc[:,'DTA_HRA_INICIO_DT'] = pd.to_datetime( s_dta_in, format='%d/%m/%Y %H:%M', errors='coerce')
# del s_dta_in

# s_dta_ter = df_acum.loc[:,'DTA_TERMINO'] + " " + df_acum.loc[:,'HRA_TERMINO']
# df_acum.loc[:,'DTA_HRA_TERMINO_DT'] = pd.to_datetime( s_dta_ter, format='%d/%m/%Y %H:%M', errors='coerce')
# del s_dta_ter

# df_acum.loc[:,'TEMPO_DT'] = df_acum['DTA_HRA_TERMINO_DT'] - df_acum['DTA_HRA_INICIO_DT']

# df_acum.loc[:,'TEMPO_INT'] = df_acum['TEMPO_DT'].dt.total_seconds() / 60

# df_acum.loc[:,'MES'] = df_acum.loc[:,'DTA_HRA_INICIO_DT'].dt.month

# df_acum.loc[:,'ANO'] = df_acum.loc[:,'DTA_HRA_INICIO_DT'].dt.year


# for field in ['TEMPO_INT','ANO','MES']:
#     df_acum[field].fillna(0, inplace=True)
#     df_acum[field] = df_acum[field].astype('int32')

# cols_classif = [
#     'MUNICIPIO',
#     'LOGRADOURO',
#     'DES_ENDERECO',
#     'COMPLEMENTO_ENDERECO',
#     'NOME_BAIRRO',
#     'LOGRADOURO2',
#     'DES_ENDERECO2'
# ]
# df_acum[cols_classif] = df_acum[cols_classif].apply(lambda col: col.str.upper())


# def classifica_setor(row):
#     mun = row['MUNICIPIO']
#     if mun == 'CLAUDIO':        
#         return 'CLAUDIO'
#     elif mun == 'ITATIAIUCU':
#         return 'LOURDES/ITATIAIUCU'
#     elif mun in ('CARMO DO CAJURU', 'SAO GONCALO DO PARA'):             
#         return 'CARMO DO CAJURU/SAO GONCALO DO PARA'    
#     elif ( mun + " N_RAT " + row['RAT.NUM_ATIVIDADE'] ) in df_classif.index:
#         return df_classif.loc[mun+" N_RAT "+row['RAT.NUM_ATIVIDADE'], 'SETOR']
#     elif mun + ' BAIRRO ' + row['NOME_BAIRRO'] in df_classif.index:       
#         return ( df_classif.loc[mun + ' BAIRRO ' + row['NOME_BAIRRO'].upper(), 'SETOR'] ).upper()
#     elif mun + ' LOGRADOURO ' + row['LOGRADOURO'] in df_classif.index:
#         return df_classif.loc[mun + ' LOGRADOURO ' + row['LOGRADOURO'].upper(), 'SETOR']
#     elif mun + ' LOGRADOURO ' + row['DES_ENDERECO'] in df_classif.index:
#         return df_classif.loc[mun + ' LOGRADOURO ' + row['DES_ENDERECO'].upper(), 'SETOR']
#     elif mun + ' LOGRADOURO_NAO_CAD ' + row['LOGRADOURO2'] in df_classif.index:
#         return df_classif.loc[mun + ' LOGRADOURO_NAO_CAD ' + row['LOGRADOURO2'].upper(), 'SETOR']
#     elif mun + ' LOGRADOURO_NAO_CAD ' + row['DES_ENDERECO'] in df_classif.index:
#         return df_classif.loc[mun + ' LOGRADOURO_NAO_CAD ' + row['DES_ENDERECO'].upper(), 'SETOR']
#     elif mun + ' LOGRADOURO_NAO_CAD ' + row['LOGRADOURO2'] in df_classif.index:
#         return df_classif.loc[mun + ' LOGRADOURO_NAO_CAD ' + row['LOGRADOURO2'].upper(), 'SETOR']
#     elif mun + ' LOGRADOURO_NAO_CAD ' + row['DES_ENDERECO2'] in df_classif.index:
#         return df_classif.loc[mun + ' LOGRADOURO_NAO_CAD ' + row['DES_ENDERECO2'].upper(), 'SETOR']
#     elif mun + ' COMPLEMENTO_END ' + row['COMPLEMENTO_ENDERECO'] in df_classif.index:
#         return df_classif.loc[mun + ' COMPLEMENTO_END ' + row['COMPLEMENTO_ENDERECO'].upper(), 'SETOR']
#     elif ( mun + ' COMPLEMENTO_END ' + row['DES_ENDERECO'] ) in df_classif.index:
#         return df_classif.loc[mun + ' COMPLEMENTO_END ' + row['DES_ENDERECO'], 'SETOR']    
#     else:
#         return 'other'

# df_acum['SETOR'] = df_acum.apply(lambda row: classifica_setor(row), axis=1)

# conds=[
#     df_acum['MUNICIPIO'].isin(['ITAUNA','ITATIAIUCU']),
#     df_acum['SETOR'].isin(['HIPER CENTRO','BOM PASTOR','ALTO GOIAS']),
#     df_acum['SETOR'].isin(['PLANALTO','SAO JOSE','CLAUDIO']),
#     df_acum['SETOR'].isin(['NITEROI','PORTO VELHO','CARMO DO CAJURU/SAO GONCALO DO PARA']),
    
# ]
# res=['51 CIA','53 CIA','139 CIA','142 CIA']
# df_acum['CIA'] = np.select(conds,res,default='other')

# df_acum.to_sql('tbl_rat', 'sqlite:///gdo.db', if_exists='replace', index=False)
# del df_acum

/home/wendel/.asdf/installs/python/anaconda3-2019.07/lib/python3.7/site-packages/pandas/core/generic.py:2531: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype, method=method)

<h2 style="color:#0A0;margin:10px ">Importação, para o Banco de Dados, de todos os arquivos tipo RAT_VEICULOS, RAT_VIATURA e RAT_PRODUTIVIDADE</h2>
<h3 style="color:#00A; margin:10px">Importa somente os dados do 23º BPM</h3>

<ol style="color:#222">
    <li>Importa do Banco de Dados, a tabela rat, para o df_rat, atribuindo RAT.NUM_ATIVIDADE para o index</li>
    <li>Lê o primeiro arquivo da lista e o passa para um DataFrame (dfv1, dfe1, dfp1)</li>
    <li>Lê o segundo arquivo da lista e o passa para outro DataFrame (dfv2, dfe2, dfp2)</li>
    <li>Concatena os dois DataFrames em um terceiro (df_acum)</li>
    <li>Itera sobre os demais arquivos, lendo cada um deles, aplicando strip(), a função de filtro do 23º BPM e depois o adiciona ao DataFrame df_acum</li>    
    <li>Insere os dados no banco de dados</li>        
</ol>

In [15]:
# df_ratv = pd.read_sql_table('tbl_rat', 'sqlite:///gdo.db')
df_ratv.head()

,RAT.NUM_ATIVIDADE,NAT.CODIGO,NAT.DESCRICAO,DTA_HRA_INCLUSAO,DTA_INICIO,HRA_INICIO,DTA_TERMINO,HRA_TERMINO,DES_ALVO_EVENTO,DES_LUGAR,...,NOM_UNIDADE_AREA,DIGITADOR,DTA_HRA_INICIO_DT,DTA_HRA_TERMINO_DT,TEMPO_DT,TEMPO_INT,MES,ANO,SETOR,CIA
0,2018-046472984-001,Y07001,OPERACAO DE BATIDA POLICIAL,17/10/2018,17/10/2018,18:43,17/10/2018,19:00,TRANSEUNTE,VIA DE ACESSO PUBLICA,...,53 CIA PM/23 BPM/7 RPM,PM1569110,2018-10-17 18:43:00,2018-10-17 19:00:00,1.020000e+12,17,10,2018,PLANALTO,139 CIA
1,2018-046878708-001,Y12001,FISCALIZACAO DE LOCAIS DE DESMATE,20/10/2018,20/10/2018,12:39,20/10/2018,15:00,FAZENDA,FAZENDA,...,3 PEL/139 CIA PM/23 BPM/7 RPM,PM1502681,2018-10-20 12:39:00,2018-10-20 15:00:00,8.460000e+12,141,10,2018,CLAUDIO,139 CIA
2,2018-047006854-001,Y11006,FISCALIZACAO DE MAUS TRATOS A ANIMAIS,21/10/2018,21/10/2018,13:28,21/10/2018,16:00,FAZENDA,FAZENDA,...,142 CIA PM/23 BPM/7 RPM,PM1502681,2018-10-21 13:28:00,2018-10-21 16:00:00,9.120000e+12,152,10,2018,PORTO VELHO,142 CIA
3,2018-048663517-001,Y12001,FISCALIZACAO DE LOCAIS DE DESMATE,31/10/2018,31/10/2018,07:23,31/10/2018,10:00,FAZENDA,FAZENDA,...,53 CIA PM/23 BPM/7 RPM,PM1502681,2018-10-31 07:23:00,2018-10-31 10:00:00,9.420000e+12,157,10,2018,PLANALTO,139 CIA
4,2018-049254756-001,Y08999,OUTRAS ESCOLTAS,04/11/2018,04/11/2018,08:22,04/11/2018,10:00,CARGAS,VIA DE ACESSO PUBLICA,...,53 CIA PM/23 BPM/7 RPM,PM1326123,2018-11-04 08:22:00,2018-11-04 10:00:00,5.880000e+12,98,11,2018,BOM PASTOR,53 CIA

In [7]:
# df_rat = pd.read_sql_table('tbl_rat', 'sqlite:///gdo.db')
# df_rat.set_index('RAT.NUM_ATIVIDADE', inplace=True)

# dfv1 = pd.read_csv('files/RAT/' + rats_viatura_files[0], error_bad_lines=False, sep='|')
# dfv1 = dfv1.applymap(lambda x: x.strip() if type(x) == str else x)
# dfv1 = dfv1[dfv1['NUM_ATIVIDADE'].isin(df_rat.index)]

# dfv2 = pd.read_csv('files/RAT/' + rats_viatura_files[1], error_bad_lines=False, sep='|')
# dfv2 = dfv2.applymap(lambda x: x.strip() if type(x) == str else x)
# dfv2 = dfv2[dfv2['NUM_ATIVIDADE'].isin(df_rat.index)]

# dfv_acum = pd.concat([dfv1, dfv2])


# for rat_viatura_file in rats_viatura_files[2:]:
#     dfv_aux = pd.read_csv('files/RAT/'+rat_viatura_file, sep='|')
#     dfv_aux = dfv_aux.applymap(lambda col: col.strip() if type(col) == str else col)
#     dfv_aux = dfv_aux[dfv_aux['NUM_ATIVIDADE'].isin(df_rat.index)]
#     dfv_acum = pd.concat([dfv_acum, dfv_aux])
    
# dfv_acum.to_sql('tbl_rat_veiculo', 'sqlite:///gdo.db', if_exists='replace', index=False)
# del dfv_acum
# del df_rat

In [9]:
# df_rat = pd.read_sql_table('tbl_rat', 'sqlite:///gdo.db')
# df_rat.set_index('RAT.NUM_ATIVIDADE', inplace=True)

# dfe1 = pd.read_csv('files/RAT/' + rats_efetivo_files[0], error_bad_lines=False, sep='|')
# dfe1 = dfe1.applymap(lambda x: x.strip() if type(x) == str else x)
# dfe1 = dfe1[dfe1['NUM_ATIVIDADE'].isin(df_rat.index)]

# dfe2 = pd.read_csv('files/RAT/' + rats_efetivo_files[1], error_bad_lines=False, sep='|')
# dfe2 = dfe2.applymap(lambda x: x.strip() if type(x) == str else x)
# dfe2 = dfe2[dfe2['NUM_ATIVIDADE'].isin(df_rat.index)]

# dfe_acum = pd.concat([dfe1, dfe2])


# for rat_efetivo_file in rats_efetivo_files[2:]:
#     dfe_aux = pd.read_csv('files/RAT/'+rat_efetivo_file, sep='|')
#     dfe_aux = dfe_aux.applymap(lambda col: col.strip() if type(col) == str else col)
#     dfe_aux = dfe_aux[dfe_aux['NUM_ATIVIDADE'].isin(df_rat.index)]
#     dfe_acum = pd.concat([dfe_acum, dfe_aux])
    
# dfe_acum.to_sql('tbl_rat_efetivo', 'sqlite:///gdo.db', if_exists='replace', index=False)
# del dfe_acum
# del df_rat

In [10]:
# df_rat = pd.read_sql_table('tbl_rat', 'sqlite:///gdo.db')
# df_rat.set_index('RAT.NUM_ATIVIDADE', inplace=True)

# dfp1 = pd.read_csv('files/RAT/' + rats_produtividade_files[0], error_bad_lines=False, sep='|')
# dfp1 = dfp1.applymap(lambda x: x.strip() if type(x) == str else x)
# dfp1 = dfp1[dfp1['RAT.NUM_ATIVIDADE'].isin(df_rat.index)]

# dfp2 = pd.read_csv('files/RAT/' + rats_produtividade_files[1], error_bad_lines=False, sep='|')
# dfp2 = dfp2.applymap(lambda x: x.strip() if type(x) == str else x)
# dfp2 = dfp2[dfp2['RAT.NUM_ATIVIDADE'].isin(df_rat.index)]

# dfp_acum = pd.concat([dfp1, dfp2])


# for rat_produtividade_file in rats_produtividade_files[2:]:
#     dfp_aux = pd.read_csv('files/RAT/'+rat_produtividade_file, sep='|')
#     dfp_aux = dfp_aux.applymap(lambda col: col.strip() if type(col) == str else col)
#     dfp_aux = dfp_aux[dfp_aux['RAT.NUM_ATIVIDADE'].isin(df_rat.index)]
#     dfp_acum = pd.concat([dfp_acum, dfp_aux])
    
# dfp_acum.to_sql('tbl_rat_produtividade', 'sqlite:///gdo.db', if_exists='replace', index=False)
# del df_rat
# del dfp_acum